body {
  height: 100%;
  margin: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.inactive {
  display: none !important;
}

.alert {
  color: red;
}

#box {
  display: flex;
  flex-direction: column;
  height: 100vh;

  align-items: center;
}

textarea {
  width: 100%;
}

/* header */

header {
  padding: 15px;
  border: 2px solid black;
  margin: 10px;
  width: 500px;
}

header h2, header h3 {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}

.questions {
  padding: 15px;
  border: 2px dashed gray;
}

.questions div {
  margin: 8px 0px;
}

form {
  margin: 8px 0px;
}

/* article */

article {
  flex-grow: 1;

  border: 2px dashed gray;
  margin: 10px;
  padding: 10px;
  width: 350px;

  background-color: midnightblue;
}

section {
  margin: 32px;

  color: #6B7B92;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.profile {
  width: 80px;
  height: 80px;

  border: 1px solid white;
  background-image: radial-gradient(circle at center, #7AC3CC, #3083A3);
  border-radius: 8px;
}

.name {
  padding: 6px 20px;

  color: #313F4C;
  font-family: 'Boogaloo', 'Open Sans', sans-serif;
  font-size: 18px;

  border: 2px solid #d0dbe0;
  background: linear-gradient(180deg, #d0dbe0, #6B7B92);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.text {
  padding: 10px 20px;
  line-height: 1.6em;

  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.choices div {
  padding: 7px 20px;
  margin: 8px 0px;

  border: 3px solid #6B7B92;
  background-color: white;
  border-radius: 20px;
}

#non-mc-box .right-align {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#non-mc-box .name, #narrator-box .name {
  direction:rtl;
  text-align:justify;
}

/* footer */

footer {
  padding: 15px;
  border: 2px solid black;
  width: 500px;
}

footer div {
  margin: 5px 0px;
}

footer h2, footer p {
  line-height: 0.5em;
  display: inline;
}
